
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GetList</title>
</head>
<body>
    <div>

        <form action="File/GetList" method="post">
            <table>
                <tr>
                    <td>
                        Name
                    </td>
                </tr>
                <tr>
                    <td>
                        Size
                    </td>
                </tr>
                <tr>
                    <td>
                        Type
                    </td>
                </tr>
                <tr>
                    <td>
                        CreatedAt
                    </td>
                </tr>
            </table>
            
            
        </form>
    </div>
</body>
</html>
