@using Data.Models
@model FileUploadModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>UploadFile</title>
</head>
<body>
    <div>
       @Model.fileUpload.InputStream <br />
       @Model.fileUpload.FileName <br />
       @Model.fileUpload.ContentType <br />
       @Model.fileUpload.ContentLength <br />
        
        

    </div>
</body>
</html>
