@using Data.Models
@model FileUploadModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>UploadFile</title>
</head>
<body>
    <div>
        @Model.Name
       
    </div>
</body>
</html>
